 <!-- =====================================================
      FILE SUMMARY PANEL (hidden until file is loaded)
    ====================================================== -->
    <!-- <div id="fileSummary" class="card hidden"> -->


        <div class="fileSummary card hidden">
            <!-- TOP ROW -->
            <div class="summary-top">
                <!-- COLUMN 1 -->
                <div class="summary-col title-col">
                    <h2 class="summary-title">File Summary</h2>
                </div>
        
                <!-- COLUMN 2 -->
                <div class="summary-col">
                    <!-- Changed id to class -->
                    <span>Name: <b class="fileName">0</b></span>
                    <span>Size: <b class="fileSize">0</b></span>
                </div>
        
                <!-- COLUMN 3 -->
                <div class="summary-col">
                    <!-- Changed id to class -->
                    <span>Rows: <b class="rowCount">0</b></span>
                    <span>Cols: <b class="colCount">0</b></span>
                </div>
            </div>
        
            <!-- Data quality overview -->
            <div class="issues-panel">
                <div class="issue-box total">
                    <div class="issue-header">
                        <h2 class="totalIssues">0</h2>
                        <span class="issue-status-icon"></span>
                    </div>
                    <p>Total Issues</p>
                </div>
        
                <div class="issue-box missing">
                    <!-- Changed id to class -->
                    <h2 class="missingCount">0</h2>
                    <p>Missing or NaN</p>
                </div>
        
                <div class="issue-box invalid">
                    <!-- Changed id to class -->
                    <h2 class="invalidCount">0</h2>
                    <p>Invalid</p>
                </div>
            </div>
        </div>













