


<link rel="stylesheet" href="{{ url_for('static', filename='CSS/barcodes.css') }}">
<div class="page" id="barcodes-page">

    {% include 'sections/components/file_summary.html' %}

    <div class="card hidden">
        <h2>Analytics</h2>
        <p>Charts and statistics go here.</p>
        <div class = "barcodeBtn_container">
          <button id ="barcodeBtn">
            Compute Barcode
          </button>
        </div>


        <div id="barcode-container" class="card hidden">
          <img id="barcode-image" />
        </div>

    </div>

</div>