

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/barcodes.css') }}">

<div class="page" id="barcodes-page">

  <!-- File Summary -->
  {% include 'sections/components/file_summary.html' %}


  <!-- Barcode Options -->
  <div class="card hidden">

    <div class="options-top">

      <!-- COLUMN 1 -->
      <div class="options-col title-col">
      <h2 class="options-title">Options</h2>
      </div>

      <!-- COLUMN 2 -->
      <div class="options-col">
        <label for="dimension"><b>Dimension</b></label><br>

          <label >
            <input type="radio" name="dimension_barcodes" value="0" >
              H<sub>0</sub>
          </label>
      
          <label >
            <input type="radio" name="dimension_barcodes" value="1" checked>
            H<sub>0</sub> and H<sub>1</sub>
          </label>
      
          <label >
            <input type="radio" name="dimension_barcodes" value="2">
            H<sub>0</sub>, H<sub>1</sub>, and H<sub>2</sub> 
          </label>

      </div>

      <!-- COLUMN 3 -->
      <div class="options-col">
        <label for="metric"><b>Metric</b></label><br>

          <label >
            <input type="radio" name="metric_barcodes" value="0" checked>
              Euclidean
          </label>
      
          <label >
            <input type="radio" name="metric_barcodes" value="1">
              Cosine
          </label>
      
          <label >
            <input type="radio" name="metric_barcodes" value="2">
              Manhattan 
          </label>
      </div>

      <!-- COLUMN 4 -->
      <div class="options-col">
        <label for="Coeff"><b>Coefficients in Z/pZ</b></label>

      
        <div class="input-row">
          <span>p = </span>
          <input
              type="number"
              id="prime_barcodes"
              name="prime_barcodes"
              min="2"
              step="1"
              value="2"
          >
        </div>
      </div>

    </div>

    <!-- Button -->
    <div class = "barcodeBtn_container">
      <button id ="barcodeBtn">
        Compute Barcode
      </button>
    </div>
    
    
  </div>

  <div id="barcode-container" class="card hidden">
    <img id="barcode-image" />
  </div>

  <!-- <div class="card hidden">
      <h2>Analytics</h2>
      <p>Charts and statistics go here.</p>

      


        

    </div> -->

</div>