

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/barcodes.css') }}">

<div class="page" id="barcodes-page">

  <!-- File Summary -->
  {% include 'sections/components/file_summary.html' %}


  <!-- Barcode Options -->
  <div  class=" options card hidden">

    <!-- Card Title -->
    <h2 class="options-title">Options</h2>

    <!-- Options Grid -->
    <div class="options-grid">

        <!-- Dimension -->
      <div class="options-col">

        <!-- Option Title -->
        <label for="dimension" class="col-title"><b>Dimension</b></label><br>

          <!-- H0 -->
          <label >
            <input type="radio" name="dimension_barcodes" value="0" >
              <!-- H<sub>0</sub> -->
              $H_0$
          </label>
      
          <!-- H0 and H1 -->
          <label >
            <input type="radio" name="dimension_barcodes" value="1" checked>
            <!-- H<sub>0</sub> and H<sub>1</sub> -->
            $H_0$ and $H_1$
          </label>
      
          <!-- H0,H1, and H2 -->
          <label >
            <input type="radio" name="dimension_barcodes" value="2">
            <!-- H<sub>0</sub>, H<sub>1</sub>, and H<sub>2</sub> -->
            $H_0$, $H_1$, and $H_2$
          </label>

      </div>

      <!-- Metric  -->
      <div class="options-col">

        <!-- Option Title -->
        <label for="metric" class="col-title"><b>Metric</b></label><br>

          <label >
            <input type="radio" name="metric_barcodes" value="euclidean" checked>
              Euclidean
          </label>
      
          <label >
            <input type="radio" name="metric_barcodes" value="cosine">
              Cosine
          </label>
      
          <label >
            <input type="radio" name="metric_barcodes" value="manhattan">
              Manhattan 
          </label>
      </div>

      <!-- Coefficients -->
      <div class="options-col">

        <!-- Option Title -->
        <label for="Coeff" class="col-title">
          <b>Coefficients in</b>
          <span class="math-inline">$\mathbb{Z}/p\mathbb{Z}$</span>
        </label>

      
        <div class="input-row">
          <span>$p$ = </span>
          <input
              type="number"
              id="prime_barcodes"
              name="prime_barcodes"
              min="2"
              step="1"
              value="2"
          >
        </div>
      </div>
      <!-- Threshold -->
    <div class="options-col">

      <!-- Option Title -->
      <label for="threshold" class="col-title"><b> Threshold</b></label>
      
      <!-- Enable Threshold -->
      <label>
        <input
          type="checkbox"
          id="use-threshold-barcode"
          name="use-threshold-barcode"
        >
        Enable
      </label>

      <!-- Threshold Value -->
      <div class="input-row">

        <span>$\epsilon$ =</span>

        <input
          type="number"
          id="threshold_barcode"
          name="threshold_barcode"
          step="0.01"
          min="0"
          placeholder="∞"
          disabled
        >
        

      </div>
      <span class="subtitle">
        Default: &infin;
      </span>
  </div>

  <!-- Subsample -->
  <div class="options-col">

    <!-- Option Title -->
    <label for="subsampling" class="col-title"><b>Subsampling</b></label>

      

      <!-- Enable Subsampling -->
      <label>

        <input
          type="checkbox"
          id="use-subsample-barcode"
          name="use-subsample-barcode"
        >

        Enable

      </label>

      <!-- Number of Sample Points -->
      <div class="input-row">

        <span>$n$ =</span>

        <input
          type="number"
          id="subsample_barcode"
          name="subsample_barcode"
          min="2"
          step="1"
          placeholder="Points"
          disabled
          style="width: 120px;"
        >
        

      </div>
      <span class="subtitle">
        Default: All points
      </span>
    </div>

    </div>

    
    <!-- Button -->
    <div class = "barcodeBtn_container">
      <button id ="barcodeBtn">
        Compute Barcode
      </button>
      
    </div>
    <div id="barcode-loading" class="loading hidden">
      <div class="spinner"></div>
      <!-- <p>Computing barcode...</p> -->
    </div>
    
    
  </div>

  <!-- Barcode -->
  <div id="barcode-container" class=" plots card hidden">
    <img id="barcode-image" />
  </div>

  <!-- <div class="card hidden">
      <h2>Analytics</h2>
      <p>Charts and statistics go here.</p>

      


        

    </div> -->

</div>