<link rel="stylesheet" href="{{ url_for('static', filename='CSS/example.css') }}">
<div class="page" id="examples-page">

    <div class="examples-container">


        <!-- S1 Plot Card ------------------------------------------------------->
        {% with
            title="S<sup>1</sup>",
            description="75 points sampled from a circle in &#8477;<sup>3</sup>",
            details="radius R = 2",
            filename="S1.csv",
            size="2.1 KB",
            rows="75",
            cols="3",
            plot_path="plots/S1.html"
        %}
            {% include 'sections/components/example_plot_card.html' %}
        {% endwith %}
        

        <!-- S1 w/noise Plot Card ------------------------------------->
        {% with
            title="S<sup>1</sup> with Noise",
            description="1000 points sampled from circle with noise in &#8477;<sup>3</sup>",
            details="radius R = 2",
            filename="S1noise.csv",
            size="25 KB",
            rows="1000",
            cols="3",
            plot_path="plots/noisy_S1.html"
        %}
            {% include 'sections/components/example_plot_card.html' %}
        {% endwith %}
        
        


        <!-- S2 Plot Card ------------------------------------------------------->
        {% with
            title="S<sup>2</sup>",
            description="1500 points sampled from a sphere in &#8477;<sup>3</sup>",
            details="radius R = 2",
            filename="S2.csv",
            size="50 KB",
            rows="1500",
            cols="3",
            plot_path="plots/S2.html"
        %}
            {% include 'sections/components/example_plot_card.html' %}
        {% endwith %}
        
       

        <!-- S1xS1 Plot Card ---------------------------------------------------->
        
        {% with
            title="S<sup>1</sup> x S<sup>1</sup>",
            description="1000 points sampled from a torus in &#8477;<sup>3</sup>",
            details="Major radius R = 2<br>Minor radius r = 0.5",
            filename="S1xS1.csv",
            size="35 KB",
            rows="1000",
            cols="3",
            plot_path="plots/S1xS1.html"
        %}
            {% include 'sections/components/example_plot_card.html' %}
        {% endwith %}
        
        

    </div>

</div>