

<link rel="stylesheet" href="{{ url_for('static', filename='CSS/example.css') }}">
<div class="page" id="examples-page">

    <div class = "examples-container">


        <!-- S1 Plot Card ------------------------------------------------------->
        <div class="plot-card">
            <div class="plot-sidebar">
                <div>
                    <h2 class="plot-title">S<sup>1</sup></h2>
                    <p class="plot-description">
                    75 points sampled from a circle in &#8477;<sup>3</sup>
                    <!-- Unicode for math "R" &#8477; &#x211D; -->
                    </p>
                    <div>
                        <div> File Name: <b>S1.csv</b> </div>
                        <div> Size: <b>2.1 KB</b> </div>
                        <div> Rows: <b>75</b>     </div>
                        <div> Cols: <b>3</b>      </div>
                    </div>
                </div>
    
                <div class = "download-btn_container">
                    <button  class="download-btn" data-file="S1.csv">
                        Download CSV 
                    </button>
                </div>
            </div>
    
            <div class="plot-area">
            <!-- Plot goes here -->
            <iframe src="{{ url_for('static', filename='plots/S1.html') }}" scrolling="no" loading="lazy">
            </iframe>
            </div>
        </div>
    
        <!-- S1 w/noise  Plot Card ------------------------------------->
        <div class="plot-card">
            <div class="plot-sidebar">
            <div>
                <h2 class="plot-title">S<sup>1</sup> with Noise</h2>
                <p class="plot-description">
                Monthly active users across all product segments.
                </p>
            </div>
    
            <div class = "download-btn_container">
                <button class="download-btn" data-file="S1noise.csv">
                    Download CSV
                </button>
            </div>
            </div>
    
            <div class="plot-area">
                <iframe src="{{ url_for('static', filename='plots/noisy_S1.html') }}" scrolling="no" loading="lazy">
                </iframe>
            </div>
        </div>
    
        <!-- Plot Card -->
        <div class="plot-card">
            <div class="plot-sidebar">
            <div>
                <h2 class="plot-title">S<sup>2</sup></h2>
                <p class="plot-description">
                Latency, throughput, and infrastructure utilization.
                </p>
            </div>
    
            <div class = "download-btn_container">
                <button class="download-btn" data-file="S2.csv">
                    Download CSV
                </button>
            </div>
            </div>
    
            <div class="plot-area">
            Plot goes here
            </div>
        </div>
        

         <!-- Plot Card -->
         <div class="plot-card">
            <div class="plot-sidebar">
            <div>
                <h2 class="plot-title">S<sup>1</sup> x S<sup>1</sup></h2>
                <p class="plot-description">
                Latency, throughput, and infrastructure utilization.
                </p>
            </div>
    
            <div class = "download-btn_container">
                <button class="download-btn" data-file="S1xS1.csv">
                    Download CSV
                </button>
            </div>
            </div>
    
            <div class="plot-area">
            Plot goes here
            </div>
        </div>
    </div>
      
</div>