



<div class="page active-page" id="upload-page">
    <!-- =====================================================
      FILE UPLOAD SECTION
    ====================================================== -->
    <div class="card">
      <h3>CSV</h3>

      <!-- Drag & Drop Zone -->
      <div id="dropZone" class="drop-zone">
        Drag & Drop file here or click to upload

        <!-- Hidden file input (triggered by clicking drop zone) -->
        <input type="file" id="fileInput" accept=".csv">
      </div>

      <!-- Error message -->
      <p id="errorMsg" class="error"></p>

      <!-- Loading spinner while parsing -->
      <div id="spinner" class="spinner hidden"></div>
    </div>

    {% include 'sections/components/file_summary.html' %}

    {% include 'sections/components/file_preview.html' %}

</div>