<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Page title shown in browser tab -->
  <title>PH Dashboard</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/tetra.svg') }}">
  <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='images/terta_gif.gif') }}"> -->

  <!-- Main stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">

</head>

<body>

<!-- =========================================================
  SIDEBAR NAVIGATION 
========================================================= -->
<div class="sidebar">

  <!-- <img src="{{ url_for('static', filename='favicon/tetra.svg') }}" alt="My Flask Animation"
   width="75" height="75"> -->

  <h2>Homology Dashboard</h2>

  <ul class="nav">

    <li class="nav-item" data-page="instructions">Instructions</li>

    <li class="nav-item active" data-page="upload">Upload Data</li>
    
    <li class="nav-item" data-page="diagrams">Persistence Diagrams</li>

    <li class="nav-item" data-page="barcodes">Barcodes</li>

    <li class="nav-item" data-page="examples">Examples</li>
    
  </ul>

  <!-- <img src="{{ url_for('static', filename='images/terta_gif.gif') }}" alt="My Flask Animation"
   width="75" height="75"> -->

</div>

<!-- =========================================================
  MAIN CONTENT AREA
========================================================= -->
<div class="main">

  <!-- Header -->
  <div class="header">
    <h1 id="pageTitle">Upload Data</h1>
    <!-- <img src="{{ url_for('static', filename='images/terta_gif.gif') }}" alt="My Flask Animation"
    width="75" height="75"> -->
  </div>

  <div class="content">

    <!-- Instructions page -->
    {% include 'sections/instructions.html' %}
    
    <!-- Upload page -->
    {% include 'sections/upload.html' %}

    <!-- Diagrams page -->
    {% include 'sections/diagrams.html' %} 

    <!-- Barcodes page -->
    {% include 'sections/barcodes.html' %}
    
    <!-- Examples page -->
    {% include 'sections/examples.html' %}
  
  </div>

</div>


<!-- =========================================================
  Application logic
========================================================= -->

<!-- Main/Global -->
<script src="{{ url_for('static', filename='JS/script.js') }}"></script>

<!-- Navigation logic -->
<script src="{{ url_for('static', filename='JS/navigation.js') }}"></script>

<!-- Upload logic -->
<script src="{{ url_for('static', filename='JS/upload.js') }}"></script>

<!-- File Summary logic -->
<script src="{{ url_for('static', filename='JS/summary.js') }}"></script>

<!-- File Preview logic -->
<script src="{{ url_for('static', filename='JS/preview.js') }}"></script>

<!-- Diagrams page logic -->
<script src="{{ url_for('static', filename='JS/diagrams.js') }}"></script>

<!-- Barcodes page logic -->
<script src="{{ url_for('static', filename='JS/barcodes.js') }}"></script>

<!-- Example page logic -->
<script src="{{ url_for('static', filename='JS/examples.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>

<!-- LaTex cdn -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
</body>
</html>